<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
    colors="true">

    <testsuites>
        <testsuite name="LIVR suite">
            <file>tests/01-livr_test_suite.php</file>
            <file>tests/02-livr_test_suite_aliased_rules.php</file>
            <file>tests/03-auto_trim.php</file>
            <file>tests/04-custom_filters.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>
